.email {
  background-image: url('./icon/email.png'); /* 새로운 화살표 아이콘 */
  background-repeat: no-repeat;
  background-position: right 8px center; /* 화살표 위치 조정 */
  background-size: 24px; /* 화살표 크기 조정 */
}
.fileDownload {
  background-image: url('./icon/file_download.png'); /* 새로운 화살표 아이콘 */
  background-repeat: no-repeat;
  background-position: right 8px center; /* 화살표 위치 조정 */
  background-size: 24px; /* 화살표 크기 조정 */
}
.print {
  background-image: url('./icon/print.png'); /* 새로운 화살표 아이콘 */
  background-repeat: no-repeat;
  background-position: right 8px center; /* 화살표 위치 조정 */
  background-size: 24px; /* 화살표 크기 조정 */
}
