.arrowDown {
  background-image: url('../icon/arrow_down.png'); /* 새로운 화살표 아이콘 */
  background-repeat: no-repeat;
  background-position: right 8px center; /* 화살표 위치 조정 */
  background-size: 24px; /* 화살표 크기 조정 */
}
.arrowUp {
  background-image: url('../icon/arrow_up.png'); /* 새로운 화살표 아이콘 */
  background-repeat: no-repeat;
  background-position: right 8px center; /* 화살표 위치 조정 */
  background-size: 24px; /* 화살표 크기 조정 */
}
